<launch>

   
  <node pkg="carla_lane_detection" name="carla_listener" type="carla_listener.py">
  	<param name="camera_topic_name" value="/carla/ego_vehicle/camera/rgb/front/image_color"/>
  	<param name="canny_th_1" value="100"/>
  	<param name="canny_th_2" value="150"/>
  	<param name="roi_x_min" value="0"/>
  	<param name="roi_x_max" value="800"/>
  	<param name="roi_y_max" value="200"/>
  	<param name="hough_theta" value="1"/>
  	<param name="hough_rho" value="1"/>
  	<param name="hough_trshld" value="80"/>
  </node>
 
</launch>
